*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #ff3c3c;
  --clr-darktext: #9d9fa1;
  --clr-light-background:#212020;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* image backgroud shadow */
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.8),
        0.125em 0.125em 0.25em rgba(0,0,0,.5);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.125rem;
    }
}
section {
  height: auto;
  min-height: 100vh;
  padding: 5em 6em;
}
a{
  text-decoration: none;
  color: var(--clr-light);
}
a:hover{
  text-decoration: none;
  color: var(--clr-light);
}

.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.side-logo{
  display: flex;
  align-items: center;
  padding-top: 120px;
  position: fixed;
  justify-content: flex-start;
}

@media screen and (max-width: 800px){
  .side-logo{
    padding-top: 120px;
  }
}

/* button effect */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start	;
  align-items: center;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}
.navigation-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start	;
  align-items: center;
  flex-direction: row;
}



@media screen and (max-width: 800px){
  .hamburger {
    display: block;
    position: fixed;
    right: 2.3em;
    top: 2.3em;
    background: var(--clr-dark);
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
  }


  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before { top: 6px; }
  .hamburger::after { bottom: 6px; }

  .navigation-boxes{
    transform: translateX(1000%);
    flex-direction: column;
    margin-top: 100px;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    z-index: 100;
  }
  
  .nav-open .navigation-boxes {
    transform: translateX(0);
    margin-top: 100px;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    z-index: 100;
  }
  
  .nav-open .nav-toggle {
    position: relative;
    float: right;
  }
  
  .nav-open .hamburger {
    transform: rotate(.625turn);
  }
  
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  
  .nav-open .hamburger::after {
    opacity: 0;
  }
}
main button {
  --size: 60px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  color: var(--clr-light);
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}
main:hover button {
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.2);
}
main:hover button:hover {
  color: var(--clr-light);
}

button{
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: var(--clr-light);
}
.other_buttons{
  padding: 15px;
}
button:hover {
  background: rgba(255, 255, 255, 0.04);
  color: var(--clr-light);
}

.flex-container {
  padding: 5px;
  float: right;
}

.flex-container > button {
  width: 120px;
  text-align: center;
  border: none;
  margin: 5px;
  background: rgba(255, 255, 255, 0.2);
}

.resume-button:hover{
  background: rgba(255, 0, 0, 0.9);
}

/* button effect */

.nav__link {
  color: inherit;
  font-size: var(--fs-h6);
  text-decoration: none;
  z-index: 100
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #ff3c3c;
}
.cursor--small {
  --size: 10px;
  background: #ff3c3c;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  cursor: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4);
  color: var(--clr-accent);
}
.initial-logo{
  padding-left: 10px;
  float: left;
  max-width: 15%;
  max-height: 15%;
  padding-top: 10px;
  z-index: 2;
}
/* Intro section */
.intro{
  padding-left: 7rem;
  padding-top: 12%;
}

.intro_hi{
  font-weight: var(--fw-reg);
}
.intro_name{
  color: var(--clr-light);
}

.intro_name_subtitle{
  color:  #9e9d9d;
}

.intro_para{
  max-width: 35em;
  color: var(--clr-darktext);
  margin-top: 3em;
  text-align: justify;
  text-justify: inter-word;
}
.intro_button{
  margin-top: 3rem;
}

@media screen and (max-width: 800px){
  .intro_para{
    max-width: 35em;
    color: var(--clr-darktext);
    margin-top: 2.5em;
    text-align: justify;
    text-justify: inter-word;
  }
  .intro_name{
    font-size: 2.92rem;
  }
  .intro_button{
    margin-top: 4px;
  }
}

/* about me section */


.about-me {
  background-color: var(--clr-light-background);
  padding-top: 10%;
  padding-bottom: 15%;
  margin: 0 auto;
}

.aboutme_table {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 250px));
  padding-left: 10px;
  margin: 20px 0px 0px;
  list-style: circle;
}
.about-me__body{
  max-width: 700px;
  text-align: justify;
  text-justify: inter-word;
}
.aboutme_table_list {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--ff-secondary);
  font-size: 14px;
}

.about-me__img {
    box-shadow: var(--bs);
    transition-duration: 0.5s;
}
.about-me__img:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

@media (min-width: 600px) {
  .about-me {
      display: grid;
      grid-template-columns: 1fr 200px;
      grid-template-areas: 
          "title img"
          "subtitle img"
          "text img";
      grid-column-gap: 2em;
  }
  
  .section__title--about {
      grid-area: title;
  }
  
  .section__subtitle--about {
      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      width: calc(100%);
      padding-left: 1em;
      padding-right: calc(200px + 4em);
  }
  
  .about-me__img {
      grid-area: img;
      position: relative;
      z-index: 2;
  }
}


/* Projects */

.projects {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin-left: 3em;
  text-align: center;
  overflow: hidden;    
}

.portfolio {
  display: grid;
  margin: 10px;
  border: dashed;
  margin-top: 2.5rem;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-items{
  height: 260px;
  align-self: center;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  transition:0.5s;
}
.project-items img{
  height: 100%;
}
.project-items:hover .proj-image{
  margin-top: -80px;
  overflow: hidden;
  transition:0.5s;
}
.proj-image{
  overflow: hidden;
  transition:0.5s;
}
.image-name {
  color:var(--clr-light);
  font-weight:bold;
  padding:5px;
}
.image-name h1 {
  font-size:25px;
}
.image-name span {
  font-size:20px;
  color:var(--clr-light);
  padding:0px;
}
.proj-button{
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
@media (min-width: 600px) {

}

/* Contact me */

.Contact_me{
  background-color: var(--clr-light-background);
  padding-top: 12%;
  width: 100%;
  text-align: center;
  margin-bottom: auto;
}

.contact_para{
  padding-top: 5%;
}

.contact_button{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}


/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 1em 0;
  font-size: var(--fs-h3);

}

.footer a { 
  color: var(--clr-light);
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.social-list__item {
  margin: 0 .5em;
  transition-duration: 0.5s;
}

.social-list__item:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}