*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #121212;
    --clr-accent: #ff3c3c;
    --clr-darktext: #918e8e;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* image backgroud shadow */
    /* --bs: 0.25em 0.25em 0.75em rgba(243,235,235,1),
          0.125em 0.125em 0.25em rgba(243,235,235,.5); */
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.5rem;
        --fs-body: 1.125rem;
    }
}
section {
  height: 100%;
  margin-left: 100px;
    padding: 5em 2em;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.side-logo{
  display: flex;
  align-items: center;
  padding-top: 15%;
  position: fixed;
  justify-content: flex-start;
}

/* button effect */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start	;
  align-items: center;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}
main button {
  --size: 60px;
  border: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: center;
  align-items: left;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
  cursor: none;
}
main:hover button {
  background: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.04);
}
main:hover button:hover {
  color: #fff;
}

button{
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #fff;
}
.other_buttons{
  padding: 15px;
}
button:hover {
  background: rgba(255, 255, 255, 0.04);
  color: #fff;
}

.side-logo2{
  display: flex;
  position: fixed;
}


.nav__link {
  color: inherit;
  font-size: var(--fs-h6);
  text-decoration: none;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #ff3c3c;
}
.cursor--small {
  --size: 10px;
  background: #ff3c3c;
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    width: 100%;
    height: 100vh;
    cursor: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4);
    color: var(--clr-accent);
}

/* Intro section */
.intro{
    position: relative;
    padding-top: 15%;
}

.intro_hi{
    font-weight: var(--fw-reg);
}
.intro_name{
    color: #ededed;
}

.intro_name_subtitle{
    color: #9e9d9d;
}

.intro_para{
    max-width: 40em;
    color: var(--clr-darktext);
    margin-top: 3em;
}

/* about me section */


.about-me {
    max-width: 1000px;
    padding-top: 16%;
    padding-bottom: 16%;
    margin: 0 auto;
}

/* .about-me__img {
    box-shadow: var(--bs);
} */

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* Projects */

.projects {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin-left: 3em;
  height: 130%;
  text-align: center;    
}

.portfolio {
  display: grid;
  padding: 10px;
  border: dashed;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-items{
  width: auto;
  height: auto;
  align-self: center;
  overflow: hidden;
}

.proj-image{
  transition: 
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
}
.proj-button{
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
.proj-image:hover,
.project-items:focus .proj-image {
  transform: scale(1.2);
  opacity: .8;
}

/* Contact me */

.Contact_me{
  padding-top: 12%;
  text-align: center;
  margin-bottom: auto;
}


.contact_para{
  padding-top: 5%;
}

.contact_button{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}


/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);

}

.footer a { 
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.5);
}